body {
    background-color: pink;
    color: white;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #fce4ec; /* Pastel pink background color */
}

.image-collage {
    display: grid;
    grid-template-columns: repeat(3, 3fr); /* Adjust the number of columns as needed */
    gap: 5px;
    max-width: 720;
    margin: 50px auto;
    image-align: right;
}

.image-item {
    position: relative;
    overflow: hidden;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.image-item img {
    width: auto;
    height: auto;
}

.image-item:hover {
    transform: scale(1.5);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
h1, p {
    background-color: pink;
    color: white;
    text-align: center;
    text-shadow: 2px 2px 2px;
}
