html {
     background-color: pink;
}
body {
    background-color: pink;
    color: black;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #fce4ec; 
}

.image-collage {
     background-color: pink;
    display: grid;
    grid-template-columns: repeat(3, 3fr); 
    gap: 5px;
    max-width: 720;
     height: auto;
    margin: auto;
    image-align: right;
}

.image-item {
    position: relative;
    overflow: hidden;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.image-item img {
     max-width: 100%;
    width: auto;
    height: auto;
}

.image-item:hover {
    transform: scale(1.1);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
h1, p {
    background-color: pink;
    color: black;
    text-align: center;
}

@media (max-width: 768px) {
     img {
          max-width: 100%
          height: auto;
     }
}

