body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #fce4ec; /* Pastel pink background color */
}

.cute-content {
    text-align: center;
    padding: 50px 0;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery-item {
    margin: 10px;
}

.gallery-item img,
.gallery-item video {
    width: 200px;
    height: 200px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
