body {
    margin-top: 20px;
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom right, #222, #444);
    color: #FFF;
}

body {
margin-top: 20px;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

/* this is for the calculator */
.calculator {
  border: 2px solid #333;
  border-radius: 5px;
  padding: 10px;
  width: 300px;
}

#display {
  width: 100%;
  font-size: 24px;
  padding: 5px;
  text-align: right;
  margin-bottom: 10px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
}

button {
  font-size: 20px;
  padding: 10px;
  background-color: #f2f2f2;
  border: 1px solid #999;
  border-radius: 5px;
  cursor: pointer;
}

.row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
}

.operator {
  background-color: #ff9800;
  color: white;
}
/* ^^^ this is for the calculator ^^^ */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #222;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
}

nav li {
    padding: 0 20px;
}

nav a {
    text-decoration: none;
    color: #FFF;
    text-shadow: 1px 1px 2px #333;
    font-size: 18px;
}

main {
    padding-top: 20px; 
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
    align-items: flex-start; 
}

section {
    width: calc(33.33% - 40px); /* Adjust the width and margin as needed */
    margin-top: 20px;
    box-sizing: border-box; /* Include padding and borders in the width calculation */
}

section h2 {
    font-size: 24px;
    border-bottom: 2px solid #FFF;
    padding-bottom: 5px;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #222;
}

footer ul {
    list-style: none;
    margin: 0;
    padding: 10px 0;
    display: flex;
    justify-content: space-around;
}

footer a {
    text-decoration: none;
    color: #FFF;
}

h1, h2 {
    text-shadow: 2px 2px 3px #000;
}
